{% extends 'main/index.html' %}

{% block content %}

<div class="container">
    <div class="container-section">
        <form action="{% url 'dashboard' %}" method="post" class="create-link-form">
            {% csrf_token %}

            <label>Title:  <input type="text" name="title" id="link" placeholder='Some Title' required>
            <label> Linkk:  <input type="text" name="link" id="link" placeholder='http://someurl.io'  required>
            <button type="submit">Add Item</button>
        </form>
    </div>
    <div class="link-header">
        <div class="links">
            <p style="color: #fff;font-weight: bold;">TITLE </p>
            <p style="color: #fff;font-weight: bold;padding-left: 200px;">URL </p>
            <p style="color: #fff;font-weight: bold;padding-left: 420px;">URL CHECK INTERVAL </p>
            <p style="color: #fff;font-weight: bold;padding-right: 70px;">URL MANAGEMENT</p>
        </div>
    </div>
    {% for i in page_obj %}
    <div class="link-container" {% if i.status_code == '200' and i.is_active %}
         style="background-color: #a6d8b9;"
         {% elif not i.is_active %}style="background-color: #cdcdcd;"
         {% else %} style="background-color: pink;"
         {% endif %}>
        <div class="links">
            <p>{{ i.title }} | </p><p>{{ i.url }} - GET: {{ i.status_code }} </p>
            <ul class="crud-buttons">
                <li>
                    <form style="width:240px; padding:1px;" action="{% url 'update_interval' i.id %}" method="post">
                    {% csrf_token %}
                        <button type="submit" {% if i.update_interval == '5' %} class="btn btn-sm btn-primary-active" {% else %} class="btn btn-sm btn-primary" {% endif %} name="interval" value="5" >5 min</button>
                        <button type="submit" {% if i.update_interval == '10' %} class="btn btn-sm btn-primary-active" {% else %} class="btn btn-sm btn-primary" {% endif %} name="interval" value="10" >10 min</button>
                        <button type="submit" {% if i.update_interval == '15' %} class="btn btn-sm btn-primary-active" {% else %} class="btn btn-sm btn-primary" {% endif %} name="interval" value="15">15 min</button>
                    </form>
                </li>
                <li>
                    <button id="edit-link" data-toggle="modal" data-target="#editUrlModal_{{ i.id }}">Edit</button>
                    <div class="modal fade" id="editUrlModal_{{ i.id }}" tabindex="-1" role="dialog"
                        aria-labelledby="editUrlModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editUrlModalLabel">Update URL item</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" id="close-edit-modal">&times;</span>
                                    </button>
                                </div>
                                <form action="{% url 'update_url' i.id %}" method="post" class="edit-link-form">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        Title:  <input type="text" name="title_{{ i.id }}" id="" value="{{ i.title }}" required size="40">
                                        Linkk:  <input type="text" name="url_{{ i.id }}" id="" value="{{ i.url }}" required size="40">
                                    </div>
                                    <div class="modal-footerr">
                                        <button type="button" class="btn btn-sm btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-sm btn-primary"
                                            id="edit-link-submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="{% url 'play_pause_check' i.id %}" id="complete-link">{% if i.is_active %} Pause {% else %}  Play {% endif %}</a></li>
                <li><a href="{% url 'delete_url' i.id %}" id="delete-link">Delete</a></li>
            </ul>
        </div>
    </div>
    {% endfor %}

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item previous-page">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled previous-page">
                    <a class="page-link" href="?page=0" tabindex="-1">Previous</a>
                </li>
            {% endif %}

            <li class="page-item active current-page">
                <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
            </li>

            {% if page_obj.has_next %}
                <li class="page-item next-page">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" tabindex="-1">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled next-page">
                    <a class="page-link" href="?page=0" tabindex="-1">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
<script>
    setTimeout(function () {
       window.location.reload();
    }, 5000);
</script>
{% endblock %}